<div class="container">
  <div class="row">
    <div class="mx-auto mt-4">
      <div class="form-group" role="form">
        <h2>User info</h2>
        <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2>error</h2>
          <ul style="color: red">
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <%= form_with model:@user, local:true do |f| %>
        <table>
          <tbody>
            <div class="my-3">
              <tr>
                <th>Name</th>
              </tr>
              <tr>
                <th><%= f.text_field :name, autofocus: true %></th>
              </tr>
            </div>
            <div class="my-3">
              <tr>
                <th>Image</th>
              </tr>
              <tr>
                <th><%= f.attachment_field :profile_image, placeholder: "image" %></th>
              </tr>
            </div>
            <div class="my-3">
              <tr>
                <th>Introduction</th>
              </tr>
              <tr>
                <th><%= f.text_area :introduction %></th>
              </tr>
            </div>
          </tbody>
        </table>
        <br>
        <%= f.submit "Update User" %>
        <% end %>
      </div>
    </div>
  </div>
</div>